<div class="container">
    <div class="row">

    <h1 class="page-title">Past Blog Posts</h1>

    <div class="col-md-8 col-md-offset-2 blog-listing-wrapper">
        <% @posts.each do |post| %>
            <div class="blog-listing-item">
                <h1 class="blog-listing-title"><%= link_to post.title, post %></h1>
                <p><%= post.created_at.strftime("%A, %b, %d")%></p>
            </div>
        <% end %>

        <%= will_paginate @posts %>
    </div>
</div>
</div>
