@import 'normalize';
@import 'bootstrap';

$dark-blue: #123035;
$medium-blue: #55a1b1;
$light-blue: #7fc0d1;

/* ====================== Default Styles ===================== */

body {
	color: $dark-blue;
}

h1 {
	font-family: 'Serenity', serif;
	font-size: 3.5em;
	font-weight: 700;
	color: $medium-blue;
	margin-top: 100px;
	text-transform: uppercase;
}

.blog-contact-content h1 {
	margin-top: 30px;
}

.blog-entries-content h1 {
	margin-top: 50px;
}

h2 {
	font-family: 'Serenity', sans-serif;
	color: $dark-blue;
	text-align: center;
	font-size: 3.5em;
	font-weight: 600;
	line-height: 1.2em;
	margin-top: 0;
}

h3 {
	font-family: 'Serenity', sans-serif;
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1.2em;
	margin: 25px 0;
}

h5 {
	font-family: 'Serenity', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: $dark-blue;
	padding: 10% 25px;
	text-align: center;
	text-transform: uppercase;
}

p {
	font-family: 'Serenity', sans-serif;
	font-size: 1.7em;
	font-weight: 200;
}

.blog-home-content p {
	line-height: 1.4em;
	padding-right: 200px;
}

.hide {
	display: none;
}


/* ====================== Nav Styles ===================== */

.navbar-default {
	background-color: transparent;
	border: none;
}

.navbar-nav  li {
	margin-right: 36px;
}

.navbar-nav  li.blog-icon{
	margin-right: 0;
}

.navbar-default .navbar-nav  li  a {
	color: $dark-blue;
}

.navbar-default .navbar-nav  li  a:hover {
	color: $light-blue;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	color: $light-blue;
	background-color: transparent;
}

#blog-main-nav-wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Serenity', serif;
	font-size: 1.3em;
}

#blog-main-nav-wrapper .navbar {
	height: 100px;
	margin-bottom: 0;
}

#blog-main-nav-wrapper .navbar .nav{
	margin-top: 25px;
}

.navbar-nav  a {
	color: #253331;
}



/* ====================== Body Styles ===================== */

.blog-main-content-bg {
	width: 100%;
	height: 450px;
	background-image: url('blog-main-bg.jpg');
	background-position: fixed;
	background-color: #f8f8f8;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.blog-main-content-wrapper {
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

.blog-squid-container {
	margin-top: -90px;
	text-align: center;
}

.blog-squid {
	max-height: 550px;
	animation-duration: 1.5s;
	animation-name: bounce;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes bounce {
	0% {-webkit-transform: translateY(-5px);}
	100% {-webkit-transform: translateY(-20px);}
}
@keyframes bounce {
	0% {transform: translateY(-5px);}
	100% {transform: translateY(-20px);}
}

.blog-main-content {
	background-color: transparent;
	overflow: hidden;
}

/* ====================== Blog Entry Styles ===================== */

.blog-preview-wrapper {
	margin-top: 50px;
	text-align: center;
}

.blog-title-preview {
	height: 80px;
	margin-top:90px;
	background-color: rgba(127, 192, 209, 0.7);
}

.blog-entry-preview {
	background-color: #f6f6f6;
	border-radius: 5px;
	height: 265px;
	padding: 0px;
	box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 16px 0 rgba(0, 0, 0, 0.13);
}

.blog-entry-preview a {
	color: $dark-blue;
}

.blog-entry-preview-date {
	text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

/* ====================== Modal Styles ===================== */

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	margin: 0 auto;
	width: 660px;
	display: inline-block;
	vertical-align: middle;
}

.modal-header {
	border: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $medium-blue;
}

.modal-title {
	color: #fff;
	margin-bottom: 0;
}

.modal-body {
	font-family: 'Raleway', sans-serif;
	color: $dark-blue;
	background-color: $light-blue;
	padding: 0 25px 35px 25px;
}

.modal-body p {
	font-size: 1.35em;
	line-height: 1.6em;
	margin: 0 55px;
	text-align: center;
}

.blog-login-form {
	width: 80%;
	margin: 35px auto 0 auto;
}

.blog-login-form label {
	color: #fff;
	margin-bottom: 10px;
}

.blog-login-form input {
	background-color: $medium-blue;
	color: #fff;
	border: medium none;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	padding-left: 20px;
	line-height: normal;
}

.blog-login-submit {
	width: 40%;
	height: 50px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	background-color: $light-blue;
	border: none;
	border-radius: 5px;
	margin: 10px 0 10px 70px;
	float: left;
}

.blog-forgot-password  a {
	color: $medium-blue;
	font-family: 'Raleway', sans-serif;
	float: right;
	width: 45%;
	height: 50px;
	padding: 25px 0 0 25px;
	text-align: left;
}

.modal-footer {
	background-color: #ececec;
	border: none;
}

.modal-content  {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.contact-form-wrapper {
	margin-top: 100px;
	font-family: 'Raleway', sans-serif;
}

.contact-form-wrapper label {
	font-weight: 600;
	padding-bottom: 11px;
}

.contact-form-wrapper input {
	height: 45px;
	border: none;
	background-color: $light-blue;
	color: #fff;
}

.contact-form-wrapper textarea {
	border: none;
	background-color: $light-blue;
	color: #fff;
	resize: none;
}

.contact-form-left,
.contact-form-right {
	padding-left: 0;
}

.blog-contact-submit {
	height: 50px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	background-color: $medium-blue;
	border: none;
	border-radius: 5px;
	width: 50%;
	margin-top: 15px;
	float: right;
}
